*{
  box-sizing: border-box;
}

body{
  background-color: #fffaf0;
  color: black;
  font-family: copperplate;

}
header{
  font-size: 20px;
  text-align: center;
}

h1{
  font-size: 70px;
  color: red;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

#newGameMessage{
  margin-top: 10px;
  margin-bottom: 20px;
}

div.container{
  display: flex;
  display: -webkit-flex;
}
.scoreboard{
  border-top: 4px solid blue;
  border-bottom: 4px solid blue;
}

.game_info{
  list-style: none;
  overflow: auto;
  padding-left: 147px;
  margin-left: 7em;
  margin-right: 5em;
}

.game_info li{
  float: left;
  width: 33%;
}

.game_options{
  width: 25%;
}

.optionHeader{
  text-align: center;
  text-decoration: underline;
  margin-top: 2em;
  margin-bottom: 2em;

}

input[type=radio]{
  margin-left: 2em;
}

#newGameButton{
  margin-top: 2em;
  font-size: 20px;
  color: red;
  font-family: copperplate;
  background-color: gainsboro;
  border-radius: 5px;
  margin-left: 88px;
}
#resetGameButton{
  margin-top: 1em;
  font-size: 20px;
  color: red;
  font-family: copperplate;
  background-color: gainsboro;
  border-radius: 5px;
  margin-left: 78.5px;
}

.game_board{
  -webkit-flex: 1;
  flex: 1;
  margin-top: 2em;
  margin-left: 2em;
}

#defaultImage{
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

div.game_board td{
  width: 100px;
  height: 100px;
  margin: 1em;
  border: 1px solid blue;
  background-repeat: no-repeat;
  background-size: cover;
}
.defaultDeck{
  background-image: url(images/ga_logo.png); /*sets logo as default image*/
}
.deckOne{
  background-image: url(images/ga_logo.png);
}
.deckTwo{
  background-image: url(images/spacecat.jpg);
}
.deckThree{
  background-image: url(images/gene2.gif);
  background-position: 0 -40px;
}

#defaultImage.deckThree{
  background-position: 0 -150px;
}
td.flipped{
  background-image: none;
}
