*{
  box-sizing: border-box;
}

body{
  background-color: #d6d6d6;
  color: black;
}
header{

}

h1{
  font-size: 40px;
  font-family: Verdana, sans-serif;
  color: red;
  text-align: center;
}

div.container{
  display: flex;
  display: -webkit-flex;
}
.scoreboard{
  border: 2px solid blue;
}

.game_info{
  list-style: none;
  overflow: auto;
}

.game_info li{
  float: left;
  width: 30%;
  margin: auto;
}

.game_options{
  border: 2px solid green;
  width: 25%;
}

.game_board{
  border: 2px solid yellow;
  -webkit-flex: 1;
  flex: 1;
}

/*need to make sure cards are in a square*/
div.game_board p{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 1em;
  border: 1px solid blue;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
.defaultDeck{
  background-image: url(images/ga_logo.png); /*sets logo as default image*/
}
.deckOne{
  background-image: url(images/ga_logo.png);
}
.deckTwo{
  background-image: url(images/spacecat.jpg);
}
.deckThree{
  background-image: url(images/gene2.gif);
}
p.flipped{
  background-image: none;
}
